body {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
    margin:1pt;
    padding-top:10px;
    height: 30px;
    float:left;
	position: relative;	
}

.webtools {
    display:inline-block;
    text-align:center;
    float:right;
    position:relative;
    height:100%;
}


.navpopup {
    padding-top:11px;
    position:relative;
    float:left;
}

.connectionpanel {
    float:left;
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
}

.navcanvas {
    text-align:center;
}

.middlepanel {
margin:auto;
display:inline-block;
  height: 100%
	margin-top: 10px;
	border: 1px solid #759DC0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

  width: 100%;
}

.leftbody {
    width: 60%;
    position:relative;
    float:left;
}

.rightbody {
    margin:10px;
    width: 38%;
    float:left;
    text-align:center;
}

.headers {
    height:15%;
    width:100%;
display:inline-block;
    overflow:visible;
    position:relative;
	margin-top: 10px;
	border: 1px solid #759DC0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

