body {
	margin: auto;
    width:100%;
    height:100%;
}

.logo {
    margin:1pt;
    height: 30px;
    float:left;
	position: relative;	
}

.logo2 {
    margin:1pt;
    padding-top:10px;
    height: 30px;
    float:left;
	position: relative;	
}

.webtools {
    display:inline-block;
    text-align:center;
    float:right;
    position:relative;
    height:100%;
    padding-top:10px;
}


.navpopup {
    padding-top:8px;
    padding-right:10px;
    position:relative;
    float:left;
}

.connectionpanel {
    float:left;
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
}

.navcanvas {
    text-align:center;
}

.middlepanel {
	height:100%;
    margin-top:-3pt;
	display:inline-block;
	border: 1px solid #759DC0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  width: 99%;
}

.headers {
    height:15%;
    width:99%;
    display:inline-block;
    overflow:visible;
    position:relative;
	margin-top: 5px;
	border: 1px solid #759DC0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

